<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/plate_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plate_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buggy"
        tools:targetApi="31">
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Buggy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateAccountActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.DailyNutritionActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.PantryActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.RecipesActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.SettingsActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.FiltersActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.FriendsActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.DietaryRestrictionsActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.RecipeSearchActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.FriendRecipesActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
        <activity
            android:name=".activities.RecipeDetailActivity">
            <!-- Add any additional configuration for the LoginActivity if needed -->
        </activity>
    </application>

</manifest>